<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>
    </appender>

    <logger name="io.netty" level="WARN"/>
    <logger name="ch.qos.logback" level="WARN"/>
    <logger name="org.apache.kafka" level="WARN"/>
    <logger name="org.asynchttpclient.netty" level="WARN"/>
    <logger name="slick" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="stash"/>
    </root>

</configuration>